<header>
  <h1>Admin Dashboard</h1>
</header>

<table class="dashboard-table">
<thead>
  <tr>
    <th class="product-count"> Product Count </th>
    <th class="product-count"> Category Count </th>
  </tr>
</thead>

<tbody>
  <tr>
    <th class="product-count"><%= @product_count %></th>
    <th class="product-count"><%= @category_count %></th>
  </tr>
</tbody>
</table>
